site_name: Moil Meeting Docs
site_url: https://example.com/moil
repo_url: https://github.com/perseverance-tech-tw/video-conference-using-fisheye
repo_name: Moil Meeting

theme:
  name: material
  custom_dir: overrides
  language: en
  palette:
    - scheme: slate
      primary: blue
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Mode Terang
    - scheme: default
      primary: blue
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  logo: assets/images/ui/moil_meeting_app.png
  features:
    - navigation.top      
    - search.suggest         
    - content.code.copy
    - toc.integrate

extra_css:
  - stylesheets/extra.css

extra:
  version:
    provider: mike
plugins:
  - search

nav:
  - Home: index.md
  - Release Notes: release-notes/index.md
  - Definition and Overview: definition/index.md
  - Modes: modes/index.md
  - Moil Meeting Installation Guide: install/index.md
  - Moil Meeting Of Usage: usage/index.md
  - Operations of the Moil Meeting: operations/index.md

